<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <title>Travel App Udacity FEND Project</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>
          Travel App
        </h1>
      </header>
      <main>
        <section class="">
          <div><span id="img"></span></div>
          <div>
            <form class="formStyle">
              <input id="submitOne" type="text" name="field1" placeholder="Your Destination" />
              <input id="start" type="date" name="field2" placeholder="Departure Date" />
              <input id="end" type="date" name="field2" placeholder="Return Date" />
              <button class="btn" onClick="Client.formHandler()" type="button">Submit</button>
              <button id="deleteTrip" type="button">Delete</button>
            </form>
            <ol class="gradient-list">
              <li id="lat" class="param">Latitude: </li>
              <li id="long" class="param">Longitude: </li>
              <li id="country" class="param">Country: </li>
              <li id="placeName" class="param">City: </li>
              <li id="countdown" class="param">Count Down: </li>
              <li id="trip" class="param">Lenght: </li>
              <li id="weather" class="param">Weather: </li>
            </ol>
          </div>
        </section>
      </main>
      <footer>
        <div>
          <button class="btnfoot">
            <h4 class="btn-sub">Subscribe</h4>
          </button>
        </div>
        <div>
          <a href="https://github.com/laicuRoot"><i class="fab fa-github"></i></a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/josedanielblanco/"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </footer>
    </div>
      <script>
        window.addEventListener('load', () => {
          document.getElementById('deleteTrip').addEventListener('click', () => Client.searchButton());
        });
        if('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
      </script>
  </body>
</html>