:root {
    --main-bg-color: brown;
    --main-color: white;
    
  }

//  *{
//      border-style: solid;
//      border-width: 3px;
//      border-color: coral;
//  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: scroll;
}

  /* smaller screens */
  @media screen and (max-width:900px){
    // .grid-container
     .scrollable {
        overflow-x: scroll;
      }
      #pixabayImg2{
          display: none;
      }
      #geonames{
          display: none;
      }
    }

// main {
//     // flex: 2;
//     width: 100%;
// }

// section {
//     max-width: 800px;
//     margin: 8px;
// }

label {
    font-size: 12px;
}