main {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    gap: 1px 1px;
    grid-template-areas: "ud pi" "ge we" "re we";
    padding: 8px;
  }
  
  .ud { grid-area: ud; }

  .pi { grid-area: pi; }

  .ge { grid-area: ge; }

  .we { grid-area: we; }
  
  .re { grid-area: re; 

}

/* for debugging */
main * {
    // border: 1px solid #545454;
    // border-radius: 3px;
    padding: 8px;
}

  #userDataForm{
    grid-area: ud;
    width: 200px;
    }

    #pixabay{
        max-height: 400px;
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }

    #weatherbit{
        width: 100%;
    }

    #geonames{
        display: flex;
        flex-direction: column;
        line-height: 50%;
    }
    #geonames label{
        font-size: small;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    img {
        display: block;
        max-width: 400px;
        // width: 100vw;
        // height: 100vh;
        object-fit: contain;
      }

      #results{
        vertical-align: middle;
      }