main {
    display: grid;
    grid-template-columns: 200px, 5fr;
    grid-template-areas: "ud ap ap ap ap ap" "re re re re re re";
    width: 100%;
}

/* for debugging */
main * {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 8px;
}

#userData{
grid-area: ud;
width: 200px;
}

#apiscontent{
    grid-area: ap;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#geoimage{
    display: flex;
    flex-direction: row;
}

#geonames{
    width: 100px;
    display: flex;
    flex-direction: column;

}
#pixabay{
    width: 400px;
}

#weatherbit{
    width: 100%;
}

#results{
    display: block;
    grid-area: re;
    width: 100%;
}